@media (max-width: 768px) {
  .container {
    display: none;
  }
  .container {
    display: block;
    background-image: url("../assets/images/img/night.jpg");
  }
  .cat {
    display: none;
  }
  .cat {
    display: block;
    background-image: url("../assets/images/img/kitten-small.png");
    background-position: center;
  }
}

@media (max-width: 420px) {
  .container { //Cambiando la imagen de fondo gato acostado
    display: block;
    background-image: url("../assets/images/img/dawn.png");
    background-position: center;
    overflow: auto;
    width: 100%;
    height: auto;
  }
  .cat {
    display: none;
  }
  .cat {
    background-image: url("../assets/images/img/kitten-large.png");
    background-position: center;
    background-position-y: 70%;
    display: block;
    background-origin: content-box;
  }
}

@media (max-width: 400px) {
  .cat {
    background-position-y: 62%;
  }
}

@media (max-width: 969px) {
  .cat {
    background-position-y:40%;
  }
}
